<div class="max-w-screen-lg mx-auto mt-16">
  <h1 class="text-2xl mb-3" >New animal</h1>

  <%= render "form", animal: @animal %>

  <%= link_to "Back to animals", animals_path, class: "mt-4 text-purple-400 hover:text-purple-200" %>
</div>
