<script setup lang="ts">
// Add your imports here, etc
</script>

<template>
  <section>
    <header>
      <h1 class="text-3xl"><%= "#{route_path}/#{name}" %></h1>
    </header>
  </section>
</template>
